$main-width: 1230px;
$container-width: 1230px;
$container-s-width: 1250px;
$gap: 30px;
$column: 12;

//брек поинты
//small
$s_: 	0px;
$s__:	480px;
$s___:	640px;
//medium
$m_:	768px;
$m__: 	960px;
$m___: 	1024px;
//large
$l_: 	1152px;
$l__: 	1366px;
//$l___: 1440px;

